

/*登录*/
.shopping_nei_order .table_div{ background:#fff; width:100%;padding:0px 0px 22px 0px; margin-bottom:30px; display:inline-block;}
.login_zhao{ margin:60px 0px 0px 290px;}

.shopping{ width:100%; height:auto; min-height:300px; background:#f0f0f0;}
.shopping_nei{ width:1210px; height:auto; min-height:460px;  margin:0 auto; clear:both; padding-top:10px;}
.table_div_map{ height:30px;}
.login_zhao h2{ font-weight:bold; font-size:18px; height:46px; text-indent:108px;}
.w30b{ width:100px !important;}
.w20b{ width:186px !important;}
.yzm{ margin-left:14px; float:left; background:#ddd !important; color:#333 !important;}
.fize18{ font-size:36px !important; color:#f76c5a; margin:50px 0px 20px 120px;}
.xieyi{ color:#09C;}

.font_deng{ height:42px!important; line-height:42px!important;  font-weight:normal !important;}
.font_deng_btn{ font-size:20px;}
.f_left{ padding-left:40px!important;}
.input_po{ position:relative; }
.input_po span{ position:absolute; top:10px; left:10px; z-index:99; font-size:18px!important;}

.login_zhao02{ padding:50px 0px 140px 540px; background:url(/public/images/frontend/d_bg.jpg) no-repeat 160px 110px;}

.login_zhao02 h2{ font-weight:bold; text-indent:108px;}
.login_zhao02 .zhuce{ float:left; margin-left:110px;}
.login_zhao02 .zhuce span{ color:#aaa; margin-right:5px;}
.login_zhao02 .zhuce a:hover{ color:#c00; }
.login_zhao02 .wjmm a{ color:#999; }
.login_zhao02 .wjmm a:hover{ color:#c00; }
.login_zhao02 .wjmm { float:left; margin-left:167px;}


































